<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block main %}
    <form action="" method="post">
        <div>
            <label for="first_name">First Name</label><br>
            <input type="text" name="first_name" placeholder="Enter a first name" required>
        </div>
        <div>
            <label for="last_name">Last Name</label><br>
            <input type="text" name="last_name" placeholder="Enter a last name" required>
        </div>
        <div>
            <label for="image_url">Image URL</label><br>
            <input type="url" name="image_url" placeholder="Provide an image of this user">
        </div>

        <a href="/users">
            <button type="submit">Add</button>
        </a>
    </form>
   
    
    {% endblock %}
</body>
</html>