<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tag</title>
</head>
<body>
    <h1>Edit a tag</h1>

    <form method="POST" action="/tags/{{ tag.id }}/edit">

        <div>
            <label for="name">Name</label>
            <div>
            <input type="text" 
                    id="name" 
                    name="name" 
                    placeholder="Enter a name for the tag"
                    value="{{ tag.name }}">
            </div>
        </div>

        <div>
            {% for post in posts %}
            <div>
            <input type="checkbox"
                    value="{{ post.id }}"
                    id="post_{{ post.id }}"
                    name="posts"
                    {% if post in tag.posts %}
                    checked
                    {% endif %}
            >
            <label for="post_{{ post.id }}">
                {{ post.title }}
            </label>
            </div>
            {% endfor %}
        </div>

        <div>
            <div>
                <a href="/tags">Cancel</a>
                <button type="submit">Save</button>
            </div>

  </div>

</form>
</body>
</html>