<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block main %}
    <h1>Users</h1>
    {% for message in get_flashed_messages(with_categories=true)%}
        <p>{{message}}</p>
    {% endfor %}
    
    {% for user in users %}
    <ul>
        <li>
            <a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
        </li>
    </ul>
    {% endfor %}
    <a href="/users/new">
        <button action=>Add User</button>
    </a>
    <a href="/tags">
        <button action=>View Tags</button>
    </a>

    {% endblock %}
</body>
</html>