<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block main %}
    <div>
        <h1>
            {{user.first_name}} {{user.last_name}}
        </h1>
    </div>
    <div>
        <span>
            <img src="{{user.image_url}}">
        </span>
    </div>
    <div>
        <form>
            <button formaction="/users/{{ user.id }}/edit" formmethod="GET">Edit</button>
            <button formaction="/users/{{ user.id }}/delete" formmethod="POST">Delete</button>
          </form>
      
    </div>

    <div>
        <h2>Posts</h2>

        <ul>
            {% for post in user.posts %}
            <li>
                <a href="/posts/{{post.id}}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>

        <a href="/users/{{user.id}}/posts/new">
            <button>Add post</button>
        </a>
        
    </div>
    {% endblock %}
</body>
</html>