<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <h1>{{post.title}}</h1>

    <h3>{{post.content}}</h3>

    <p>
        <i>{{post.user.first_name}} {{post.user.last_name}}</i>
    </p>

    {% if post.tags %}
        <p>
            <b>Tags:</b>
            {% for tag in post.tags %}
                <a href="/tags/{{ tag.id }}"><i>{{ tag.name }}</i></a>
            {% endfor %}
        </p>
    {% endif %}

    <div>
        <form>
            <button formaction="/users/{{post.user_id}}" formmethod="GET">Back</button>
            <button formaction="/posts/{{post.id}}/edit" formmethod="GET">Edit</button>
            <button formaction="/posts/{{post.id}}/delete" formmethod="POST">Delete</button>
          </form>
      
    </div>
</body>
</html>