<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show User</title>
</head>
<body>

    {% extends 'base.html' %}
    {% block title %}{{ user.first_name }} {{user.last_name}}{% endblock %}
    {% block content %}

    <div>
        <h1>{{ user.first_name }} {{user.last_name}}</h1>
        <h3>Username: {{ user.username }}</h3>

        <p>Email: {{ user.email }}</p>
    </div>

    <div>
        <h2>Feedback</h2>

        <ul>
            {% for feedback in user.feedback %}

            <li>
                {{feedback.title}}
                <small>{{feedback.content}}</small>
            </li>

            <form>
                {{form.hidden_tag()}}
                <button formmethod="GET" formaction="/feedback/{{ feedback.id }}/update">
                  Edit
                </button>
                <button formmethod="POST" formaction="/feedback/{{ feedback.id }}/delete">
                  Delete
                </button>
            </form>

            {% endfor %}
        </ul>

        <p>
          <a href="/users/{{ user.username }}/feedback/add">
            Add feedback
          </a>
        </p>

        <form>
          <button formaction="/users/{{ user.username }}/delete" formmethod="POST">
            Delete User
          </button>
        </form>

    </div>
    {% endblock %}
</body>
</html>
